<script lang="ts">
	export let src: string;
	export let fileName: any = src.split('/').pop();
	export let onDelClicked: Function = () => {};
	export let disableDel: boolean = false;

	const videoTypes = ['mp4', 'mkv', 'webm', 'avi'];
	const extension = fileName.split('.').pop();
	let image: string = src;
	let hidden = false;

	// changes the image based on the file type or if it is an image just shows the image
	if (extension == 'pdf') {
		image = 'https://cdn4.iconfinder.com/data/icons/file-extensions-1/64/pdfs-512.png';
	} else if (videoTypes.includes(extension)) {
		image = 'http://www.clipartbest.com/cliparts/xig/aee/xigaeeaKT.png';
	}

	let hide = () => {
		hidden = true;
	};
</script>

<div class="group card card-hover p-4 w-32 md:w-48 {hidden ? 'hidden' : ''}">
	{#if !disableDel}
		<!-- if disableDel is true a delete button badge will apear that can be 
		clicked to execute the code in the onDelClicked Handler  -->
		<button
			on:click={(e) => {
				e.stopPropagation();
				onDelClicked({ fileName, src, hide });
			}}
			type="button"
			class="badge-icon variant-filled-error p-3 absolute -top-2 -right-2 hidden group-hover:flex"
			>X</button
		>
	{/if}
	<a target="_blank" href={src} class="flex flex-col gap-5">
		<!-- a cusstom check for videos since a video tag should be initialized  -->
		{#if videoTypes.includes(extension)}
			<video {src} class="object-cover rounded-lg h-32 aspect-square">
				<track kind="captions" />
			</video>
		{:else}
			<img src={image} alt="" class="object-cover rounded-lg h-32 aspect-square" />
		{/if}

		<!-- displays file name at bottom  -->
		<footer class="anchor break-all truncate">{fileName}</footer>
	</a>
</div>
