<script lang="ts">
	export let data: any;
	export let byDate: Boolean = false;
</script>

<div class="flex gap-10">
	<ol class="breadcrumb lg:h2 h4">
		{#if data.grade}
			<li class="crumb"><a class="anchor" href="/">Grade {data.grade}</a></li>
			{#if data.classNum}
				<li class="crumb-separator" aria-hidden>&rsaquo;</li>
				<li class="crumb">
					<a class="anchor" href="/{data.grade}/">{data.classNum}</a>
				</li>

				<!-- check if data.subject is present and display subject first -->
				{#if data.subject || byDate}
					<li class="crumb-separator" aria-hidden>&rsaquo;</li>
					<li class="crumb">
						<a class="anchor" href="/{data.grade}/{data.classNum}"
							>{byDate ? 'By Date' : data.subject}</a
						>
					</li>
				{/if}

				<!-- if byDate is the mode show date first since data.subject would be false -->
				{#if data.date}
					<li class="crumb-separator" aria-hidden>&rsaquo;</li>
					<li class="crumb">
						<a
							class="anchor"
							href="/{data.grade}/{data.classNum}/{byDate ? 'byDate' : data.subject}">{data.date}</a
						>
					</li>
				{/if}
			{/if}
		{/if}
	</ol>

	<!-- show byDate switcher only if both grade and classNum is present while date and subject both are not there at the sametime -->
	{#if data.grade && data.classNum && !(data.date && data.subject)}
		<a
			class="btn variant-outline-secondary hover:variant-filled-secondary"
			href="/{data.grade}/{data.classNum}/{byDate ? '' : 'byDate'}"
			>{byDate ? 'By Subject' : 'By Date'}</a
		>
	{/if}
</div>
