<script lang="ts">
	import { applyAction, enhance } from '$app/forms';
	import FileCard from '$lib/FileCard.svelte';
	import { FileDropzone, toastStore } from '@skeletonlabs/skeleton';
	import { subjects } from '$lib/subjects';

	let fileList: any = [];
	let grade: string;
	let gradeClass: string;
	let moreText: string;
	let subject: string;
	let date: string;

	let buttonText: string = 'Submit';
</script>

<h1 class="text-primary-500 h1 text-center mt-16">UPLOAD WORK</h1>

<form
	use:enhance={() => {
		buttonText = 'Uploading...';

		return async ({ result }) => {
			let t = {
				message: 'SUCCESS!',
				background: 'variant-filled-success'
			};

			if (result.type == 'failure') {
				t = {
					message: 'ERROR',
					background: 'variant-filled-error'
				};
			}
			if (result.type == 'redirect') {
				t = {
					message: 'Record already exists. Edit it from the record page',
					background: 'variant-filled-secondary'
				};
			}
			buttonText = 'Submit';
			fileList = [];
			toastStore.trigger(t);
			applyAction(result);
		};
	}}
	method="post"
	class="flex gap-5 m-16 flex-col items-start justify-start"
	enctype="multipart/form-data"
>
	<div class="flex gap-5 flex-col md:flex-row">
		<!-- grade number picker  -->
		<label class="label">
			<span>Grade</span>
			<select name="gradeNum" class="select" size="1" required bind:value={grade}>
				{#each { length: 6 } as _, i}
					<option value={i + 6}>{i + 6}</option>
				{/each}
			</select>
		</label>

		<!-- class number picker  -->
		<label class="label">
			<span>Class</span>
			<select name="classNum" class="select" size="1" required bind:value={gradeClass}>
				{#each { length: 5 } as _, i}
					<option value="s{i + 1}">S{i + 1}</option>
				{/each}
				<option value="e1">E1</option>
				<option value="e2">E2</option>
				<option value="t">T</option>
			</select>
		</label>

		<!-- subject picker  -->
		<label class="label">
			<span>Subject</span>
			<select name="subject" class="select" size="1" required bind:value={subject}>
				{#each subjects as subject}
					<option value={subject.value}>{subject.name}</option>
				{/each}
			</select>
		</label>

		<!-- date picker  -->
		<label class="label">
			<span>Date</span>
			<input
				name="date"
				type="date"
				class="select p-1.5"
				size="1"
				min="2022-01-01"
				max="2100-01-01"
				required
				bind:value={date}
			/>
		</label>
	</div>

	<!-- more details  -->
	<textarea
		name="details"
		class="textarea p-5"
		rows="4"
		bind:value={moreText}
		placeholder="Enter special notes, homework details etc."
	/>

	<!-- file dropzone  -->
	<FileDropzone
		multiple
		class={fileList ? '' : 'font-extrabold'}
		bind:files={fileList}
		name="files"
	>
		<svelte:fragment slot="message">Upload Files</svelte:fragment>
	</FileDropzone>

	<!-- file list  -->
	<div class="flex flex-wrap justify-center gap-10 min-w-full md:min-w-fit">
		{#each fileList as file (file)}
			<FileCard disableDel fileName={file.name} src={URL.createObjectURL(file)} />
		{/each}
	</div>

	<input class="btn variant-filled-primary" type="submit" bind:value={buttonText} />
</form>
