<script lang="ts">
	// Your selected Skeleton theme:
	import '../theme.postcss';

	// This contains the bulk of Skeletons required styles:
	import '@skeletonlabs/skeleton/styles/skeleton.css';
	import '@skeletonlabs/skeleton/styles/partials/typography-prose.css';

	// Finally, your application's global stylesheet (sometimes labeled 'app.css')
	import '../app.postcss';

	import { AppBar, LightSwitch, Toast } from '@skeletonlabs/skeleton';

	export let data;
</script>

<!-- import google font home icon -->
<link
	rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0"
/>
<AppBar gap="gap-10" slotDefault="gap-10">
	<a class="ml-5" slot="lead" href="/">
		<span class="material-symbols-outlined align-middle">home</span>
	</a>
	<div slot="trail" class="flex gap-5">
		{#if data.user}
			<a href="/upload"><span class="material-symbols-outlined align-middle"> upload </span></a>
		{/if}
		<a href="/account"
			><span class="material-symbols-outlined align-middle"> account_circle </span></a
		>
		<LightSwitch />
	</div>
</AppBar>

<slot />
<Toast />
