<script lang="ts">
	const grades = [6, 7, 8, 9, 10, 11];
</script>

<h1 class="m-16 h1 font-bold text-center">
	Welcome to <span
		class="bg-gradient-to-br from-blue-500 to-cyan-300 bg-clip-text text-transparent box-decoration-clone"
		>Work Calendar.</span
	> A website where you can catch up on the work you missed.
</h1>

<div class="m-10">
	<hr class="!border-t-2" />
	<h1 class="h1 my-10 font-bold decoration-solid">Pick your grade</h1>

	<div class="gap-4 grid md:grid-cols-6 grid-cols-2">
		<!-- default card  -->
		{#each grades as grade}
			<a
				class="card-hover card p-4 aspect-square hover:variant-ghost-primary flex justify-center items-center"
				href="/{grade}"><span class="h1 font-bold">{grade}</span></a
			>
		{/each}
	</div>
</div>
