<script lang="ts">
	// @ts-nocheck
	import FileCard from '$lib/FileCard.svelte';
	import NavBreadCrumb from '$lib/NavBreadCrumb.svelte';
	import snarkdown from 'snarkdown';
	import DOMPurify from 'isomorphic-dompurify';
	import { FileDropzone, toastStore } from '@skeletonlabs/skeleton';

	export let data;
	export let form;

	let editMode = false;
	let imgRaw = false;
	let buttonStatus = 'Save';

	const info = data.info;
	let details = info?.details;
	let files = info?.files || [];

	let uploadedFiles: any = [];
	let deleteFiles: any = [];

	// reactive function that will run on form variable changes (basically when form submitted)
	$: {
		if (form?.success) {
			let t = {
				message: 'SUCCESS!',
				background: 'variant-filled-success'
			};
			toastStore.trigger(t);
			editMode = false;
			buttonStatus = 'Save';
		}
	}
</script>

<div class="flex flex-col m-10 gap-10">
	<NavBreadCrumb {data} />

	<div class="flex flex-col items-start gap-5">
		{#if info.error == 404}
			Nothing here! Be the first to upload!
		{:else}
			<div class="flex gap-2">
				{#if data.loggedIn}
					<button
						class="btn variant-outline-secondary hover:variant-filled-secondary"
						on:click={() => {
							// sets editmode to it's oppersite and clears the deleteFiles list
							editMode = !editMode;
							deleteFiles = [];
						}}>{editMode ? 'Cancel Edit' : 'Edit'}</button
					>
				{/if}
				<button
					class="btn variant-ghost-success hover:variant-filled-success"
					on:click={() => {
						imgRaw = !imgRaw;
					}}>Raw Images</button
				>
			</div>
			<!-- if editmode is true display the textarea and filepicker  -->
			{#if editMode == true}
				<form method="post" class="flex flex-col gap-5" enctype="multipart/form-data">
					<!-- text area  -->
					<textarea class="textarea p-5" name="details" cols="64" rows="4" bind:value={details} />

					<!-- existing files removing area  -->
					<h3 class="h3">Existing Files:</h3>
					<div class="flex gap-10">
						{#each files as file}
							<FileCard
								onDelClicked={({ hide }) => {
									deleteFiles = [...deleteFiles, file.name];
									hide();
								}}
								src={file.URL}
							/>
						{/each}
					</div>

					<!-- this will forward the deleteFiles list to the server action  -->
					{#each deleteFiles as deleteFile}
						<input type="hidden" name="files-" value={deleteFile} />
					{/each}

					<!-- upload area  -->
					<h3 class="h3">Upload New Files:</h3>
					<FileDropzone
						multiple
						class={uploadedFiles ? '' : 'font-extrabold'}
						bind:files={uploadedFiles}
						name="files"
					>
						<svelte:fragment slot="message">Upload Files</svelte:fragment>
					</FileDropzone>

					<!-- file list  -->
					<div class="flex gap-10">
						{#each uploadedFiles as file (file)}
							<FileCard disableDel fileName={file.name} src={URL.createObjectURL(file)} />
						{/each}
					</div>

					<input
						type="submit"
						on:click={() => {
							buttonStatus = 'Saving...';
						}}
						bind:value={buttonStatus}
						class="btn variant-outline-primary hover:variant-filled-primary"
					/>
				</form>
			{:else}
				<!-- displays data as a normal page  -->
				<div class="flex flex-col">
					<p class="italic whitespace-pre">
						Uploader: <strong class="anchor">{info.uploader?.username}</strong> <br />
					</p>
					<ul class="flex gap-3 flex-wrap italic">
						Editors:
						{#each info.editors as editor}
							<li><strong class="anchor whitespace-pre"> {editor.username}</strong></li>
						{/each}
					</ul>
				</div>

				{#if details}
					<div class="prose whitespace-pre-wrap">
						{@html snarkdown(DOMPurify.sanitize(info.details))}
					</div>
				{/if}
				{#if imgRaw}
					<div class="flex flex-col gap-5">
						{#each info.files as file}
							<a class="anchor" href="{file.URL}">{file.name}</a>
							<img src="{file.URL}" alt="">
						{/each}
					</div>
				{:else}
					<div class="flex flex-wrap justify-center gap-10 min-w-full md:min-w-fit">
						{#each info.files as file}
							<FileCard disableDel src={file.URL} />
						{/each}
					</div>
				{/if}
			{/if}
		{/if}
	</div>
</div>
