<script>
	// @ts-nocheck
	import NavBreadCrumb from '$lib/NavBreadCrumb.svelte';
	export let data;

	let classes = ['s1', 's2', 's3', 's4', 's5', 'e1', 'e2', 't'];

	$: classNum = 'xx';
</script>

<div class="flex flex-col m-10 gap-10">
	<NavBreadCrumb {data} />

	<div class="gap-4 grid md:grid-cols-5 lg:grid-cols-8 grid-cols-2">
		{#each classes as nClass}
			<a
				on:mouseenter={() => {
					classNum = nClass.toUpperCase();
				}}
				class="card-hover card p-4 aspect-square hover:variant-ghost-primary flex justify-center items-center"
				href="/{data.grade}/{nClass}"
				><span class="h1 font-bold">{nClass.toUpperCase()}</span>
			</a>
		{/each}
	</div>
</div>
