<h1 class="h1 text-center font-bold m-16">Login</h1>

<form method="POST" class="flex flex-col items-center">
	<div class="flex flex-col gap-3 w-4/6 md:w-2/6">
		<input required class="input p-3" placeholder="Username" type="text" name="username" />
		<input required class="input p-3" placeholder="Password" type="password" name="password" />
		<input
			class="btn variant-ghost-primary hover:variant-filled-primary p-3"
			type="submit"
			value="Log In"
		/>
		<p class="italic">
			* If you also would like to contribute to the website by uploading work but still don't have
			an account, contact Mihin Dissanayake from 10s5
		</p>
	</div>
</form>
