<script>
	// @ts-nocheck
	import NavBreadCrumb from '$lib/NavBreadCrumb.svelte';
	let now = new Date();

	let year = now.getFullYear();
	let month = now.getMonth() + 1;
	let date = now.getDate();

	// check if it is today function
	let checkIfToday = (i) => {
		if (now.getFullYear() == year) {
			if (now.getMonth() + 1 == month) {
				if (now.getDate() == i) {
					return true;
				}
			}
		}
		return false;
	};
	// converts the selected date to string (day will be added later when clicking)
	$: date = `${year.toString().padStart(4, '0')}-${month.toString().padStart(2, '0')}-`;

	export let data;
</script>

<div class="flex flex-col m-10 gap-10">
	<!-- breadcrumbs that shows the current route  -->
	<NavBreadCrumb {data} />

	<div class="flex gap-10">
		<label class="label">
			<span>Year</span>
			<select class="select" required bind:value={year}>
				{#each { length: 10 } as _, i}
					<option value={i + 2022}>{i + 2022}</option>
				{/each}
			</select>
		</label>
		<label class="label">
			<span>Month</span>
			<select class="select" required bind:value={month}>
				{#each { length: 12 } as _, i}
					<option value={i + 1}>{i + 1}</option>
				{/each}
			</select>
		</label>
	</div>
	<div class="gap-4 grid grid-cols-2 md:grid-cols-12">
		<!-- keyblocks will make the code update when year and month is changed
		and the each block will iterate 31 times and create the days -->
		{#key year}
			{#key month}
				{#each { length: 31 } as _, i}
					<!-- different styles will be applied if the day is the current date -->
					<a
						class="card-hover card p-4 aspect-square {checkIfToday(i + 1)
							? 'variant-ghost-secondary hover:variant-filled-secondary'
							: 'hover:variant-ghost-primary'} flex justify-center items-center"
						href="/{data.grade}/{data.classNum}/{data.subject}/{date +
							(i + 1).toString().padStart(2, '0')}"><span class="h1 font-bold">{i + 1}</span></a
					>
				{/each}
			{/key}
		{/key}
	</div>
</div>
