<script lang="ts">
	export let data;
</script>

<h1 class="h1 text-center font-bold m-16">
	Logged in as <span class="anchor">{data?.user?.username}</span>
</h1>

<form method="POST" class="flex justify-center">
	<input
		class="variant-ghost-error hover:variant-filled-error btn text-center"
		type="submit"
		value="Log Out"
	/>
</form>
