<script>
	// @ts-nocheck
	import NavBreadCrumb from '$lib/NavBreadCrumb.svelte';
	import { subjects } from '$lib/subjects';
	export let data;
</script>

<div class="flex flex-col m-10 gap-10">
	<!-- breadcrumbs that shows the current route  -->
	<NavBreadCrumb {data} byDate="true" />

	<div class="gap-4 grid sm:grid-cols-1 md:grid-cols-4 lg:grid-cols-5 auto-rows-fr">
		<!-- each loop to list all the subjects as a tags with href pointing to each subject route  -->
		{#each subjects as nSubject}
			<a
				class="card-hover card p-4 {data.subjects.includes(nSubject.value)
					? 'variant-ghost-secondary'
					: ''} hover:variant-ghost-primary flex justify-center items-center text-center"
				href="/{data.grade}/{data.classNum}/{nSubject.value}/{data.date}"
				><span class="font-bold">{nSubject.name}</span>
			</a>
		{/each}
	</div>
</div>
