@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


:root {
	--theme-font-family-base: 'Montserrat', sans-serif;
	--theme-font-family-heading: 'Montserrat', sans-serif;
}

* {
	outline: none;
}
