
:root {
	/* =~= Theme Properties =~= */
	--theme-font-family-base: system-ui;
	--theme-font-family-heading: system-ui;
	--theme-font-color-base: 0 0 0;
	--theme-font-color-dark: 255 255 255;
	--theme-rounded-base: 9999px;
	--theme-rounded-container: 8px;
	--theme-border-base: 1px;
	/* =~= Theme On-X Colors =~= */
	--on-primary: 0 0 0;
	--on-secondary: 255 255 255;
	--on-tertiary: 0 0 0;
	--on-success: 0 0 0;
	--on-warning: 0 0 0;
	--on-error: 255 255 255;
	--on-surface: 255 255 255;
	/* =~= Theme Colors  =~= */
	/* primary | #FFBC1F */
	--color-primary-50: 255 245 221; /* ⬅ #fff5dd */
	--color-primary-100: 255 242 210; /* ⬅ #fff2d2 */
	--color-primary-200: 255 238 199; /* ⬅ #ffeec7 */
	--color-primary-300: 255 228 165; /* ⬅ #ffe4a5 */
	--color-primary-400: 255 208 98; /* ⬅ #ffd062 */
	--color-primary-500: 255 188 31; /* ⬅ #FFBC1F */
	--color-primary-600: 230 169 28; /* ⬅ #e6a91c */
	--color-primary-700: 191 141 23; /* ⬅ #bf8d17 */
	--color-primary-800: 153 113 19; /* ⬅ #997113 */
	--color-primary-900: 125 92 15; /* ⬅ #7d5c0f */
	/* secondary | #5239CE */
	--color-secondary-50: 229 225 248; /* ⬅ #e5e1f8 */
	--color-secondary-100: 220 215 245; /* ⬅ #dcd7f5 */
	--color-secondary-200: 212 206 243; /* ⬅ #d4cef3 */
	--color-secondary-300: 186 176 235; /* ⬅ #bab0eb */
	--color-secondary-400: 134 116 221; /* ⬅ #8674dd */
	--color-secondary-500: 82 57 206; /* ⬅ #5239CE */
	--color-secondary-600: 74 51 185; /* ⬅ #4a33b9 */
	--color-secondary-700: 62 43 155; /* ⬅ #3e2b9b */
	--color-secondary-800: 49 34 124; /* ⬅ #31227c */
	--color-secondary-900: 40 28 101; /* ⬅ #281c65 */
	/* tertiary | #54D1FF */
	--color-tertiary-50: 229 248 255; /* ⬅ #e5f8ff */
	--color-tertiary-100: 221 246 255; /* ⬅ #ddf6ff */
	--color-tertiary-200: 212 244 255; /* ⬅ #d4f4ff */
	--color-tertiary-300: 187 237 255; /* ⬅ #bbedff */
	--color-tertiary-400: 135 223 255; /* ⬅ #87dfff */
	--color-tertiary-500: 84 209 255; /* ⬅ #54D1FF */
	--color-tertiary-600: 76 188 230; /* ⬅ #4cbce6 */
	--color-tertiary-700: 63 157 191; /* ⬅ #3f9dbf */
	--color-tertiary-800: 50 125 153; /* ⬅ #327d99 */
	--color-tertiary-900: 41 102 125; /* ⬅ #29667d */
	/* success | #2ed822 */
	--color-success-50: 224 249 222; /* ⬅ #e0f9de */
	--color-success-100: 213 247 211; /* ⬅ #d5f7d3 */
	--color-success-200: 203 245 200; /* ⬅ #cbf5c8 */
	--color-success-300: 171 239 167; /* ⬅ #abefa7 */
	--color-success-400: 109 228 100; /* ⬅ #6de464 */
	--color-success-500: 46 216 34; /* ⬅ #2ed822 */
	--color-success-600: 41 194 31; /* ⬅ #29c21f */
	--color-success-700: 35 162 26; /* ⬅ #23a21a */
	--color-success-800: 28 130 20; /* ⬅ #1c8214 */
	--color-success-900: 23 106 17; /* ⬅ #176a11 */
	/* warning | #FF9A57 */
	--color-warning-50: 255 240 230; /* ⬅ #fff0e6 */
	--color-warning-100: 255 235 221; /* ⬅ #ffebdd */
	--color-warning-200: 255 230 213; /* ⬅ #ffe6d5 */
	--color-warning-300: 255 215 188; /* ⬅ #ffd7bc */
	--color-warning-400: 255 184 137; /* ⬅ #ffb889 */
	--color-warning-500: 255 154 87; /* ⬅ #FF9A57 */
	--color-warning-600: 230 139 78; /* ⬅ #e68b4e */
	--color-warning-700: 191 116 65; /* ⬅ #bf7441 */
	--color-warning-800: 153 92 52; /* ⬅ #995c34 */
	--color-warning-900: 125 75 43; /* ⬅ #7d4b2b */
	/* error | #B10038 */
	--color-error-50: 243 217 225; /* ⬅ #f3d9e1 */
	--color-error-100: 239 204 215; /* ⬅ #efccd7 */
	--color-error-200: 236 191 205; /* ⬅ #ecbfcd */
	--color-error-300: 224 153 175; /* ⬅ #e099af */
	--color-error-400: 200 77 116; /* ⬅ #c84d74 */
	--color-error-500: 177 0 56; /* ⬅ #B10038 */
	--color-error-600: 159 0 50; /* ⬅ #9f0032 */
	--color-error-700: 133 0 42; /* ⬅ #85002a */
	--color-error-800: 106 0 34; /* ⬅ #6a0022 */
	--color-error-900: 87 0 27; /* ⬅ #57001b */
	/* surface | #3C4F7D */
	--color-surface-50: 226 229 236; /* ⬅ #e2e5ec */
	--color-surface-100: 216 220 229; /* ⬅ #d8dce5 */
	--color-surface-200: 206 211 223; /* ⬅ #ced3df */
	--color-surface-300: 177 185 203; /* ⬅ #b1b9cb */
	--color-surface-400: 119 132 164; /* ⬅ #7784a4 */
	--color-surface-500: 60 79 125; /* ⬅ #3C4F7D */
	--color-surface-600: 54 71 113; /* ⬅ #364771 */
	--color-surface-700: 45 59 94; /* ⬅ #2d3b5e */
	--color-surface-800: 36 47 75; /* ⬅ #242f4b */
	--color-surface-900: 29 39 61; /* ⬅ #1d273d */
	
}